# Redirect HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Reverse Proxy Configuration
<IfModule mod_proxy.c>
    ProxyRequests Off
    ProxyPass /mdiqai http://localhost:3000/
    ProxyPassReverse /mdiqai http://localhost:3000/
</IfModule>

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/cartoma/mdiq"
PassengerBaseURI "/mdiqai"
PassengerNodejs "/home2/cartoma/nodevenv/mdiq/16/bin/node"
PassengerAppType node
PassengerStartupFile next start
PassengerAppLogFile "/home2/cartoma/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
