.fileViewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #1e1e1e; /* Dark background */
  overflow: hidden;
  border-radius: 10px;
  color: #ffffff; /* Light text color */
}

.filesList {
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.fileEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444444; /* Darker border */
  gap: 8px;
  width: 100%;
}

.fileName {
  flex-grow: 1;
  color: #ffffff; /* Light text color */
}

.fileStatus {
  font-size: 0.8em;
  color: #cccccc; /* Light grey text color */
}

.fileDeleteIcon {
  cursor: pointer;
  color: #ff5555; /* Red delete icon */
}

.fileUploadContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.fileUploadBtn {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text color */
  padding: 6px 16px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.fileUploadInput {
  display: none;
}

.title {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff; /* Light text color */
}

.fileName {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff; /* Light text color */
}
